<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



      <script type="text/javascript">

        google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Camera', 'Head Count'],
        {{ result[0][0] |safe }}
        ]);

        var options = {
          title: 'By Minute',
          width: 900,
          legend: { position: 'none' },
          chart: { title: 'By Minute',
                   subtitle: 'Person count' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Head Count'} // Top x-axis.
            }
          },
          bar: { groupWidth: "10%" }
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_values'));
        chart.draw(data, options);
      };
  </script>

</head>
<body>


<div id="barchart_values" style="width: 900px; height: 300px;"></div>
</body>
</html>